@model SmokeUI.Models.UserViewModel

@{
    ViewData["Title"] = "AddUserGame";
}

<h1>AddUserGame</h1>

<h4>UserViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUserGame">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" value=UserId class="control-label"></label>
                <input asp-for="Id" value=UserId class="form-control" />
                <span asp-validation-for="Id" value=UserId class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Games[0].Id" class="control-label"></label>
                <input asp-for="Games[0].Id" class="form-control" />
                <span asp-validation-for="Games[0].Id" value=UserId class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
